body {
    background-image: url("rainbow\ dash.jpg");
    background-size: cover; 
    background-position: center;
 }

.heading {
font-size: 23px;
width: 100%;
margin: 0px;
}

canvas {
    border-radius: 10px;
    border: 10px dashed cyan;
}